pandas
numpy
matplotlib
seaborn
scipy
scikit-learn
statsmodels
xgboost
imbalanced-learn
fredapi
python-dotenv
sqlalchemy
psycopg2-binary
jupyterlab
ipykernel
notebook
openpyxl
kaggle
kagglehub
pyarrow
joblib
